.identify {
    width: 20px;
    height: 20px;
    line-height: 20px;

    border-radius: 100%;

    background: #C8C8C8;
    color: #fff;

    font-style: normal;

    vertical-align: middle;
    text-align: center;

    display: inline-block;
}

.identify.active {
    background: #37bef0;
}
/*
 * support page faq accordion
 */
.ape-accordion {

}

.ape-accordion > .item {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #C8C8C8;
}

.ape-accordion.border-bottom-dashed > .item {
    position: relative;
    border-bottom-style: dashed;
}

.ape-accordion > .item:last-child {
    border-bottom: none;
}

.ape-accordion.has-accordion-icon > .item > .icon {
    position: absolute;
    bottom: 18px;
    right: 20px;
}

.ape-accordion.has-accordion-icon > .item .icon:before {
    content: '\e62f';
}

.ape-accordion.has-accordion-icon > .item.active .icon:before {
    content: '\e630';
}

.ape-accordion > .item > .header {
    position: relative;
    padding: 8px 60px 8px 28px;
}

.ape-accordion > .item > .content {
    position: relative;
    padding: 20px 60px 10px 28px;

    margin-top: 10px;
    display: none;

    border-top: 1px solid #C8C8C8;
}

.ape-accordion > .item.active > .content {
    display: block;
}

.ape-accordion > .item > .header > .title {
    display: inline-block;
    vertical-align: middle;
}

.ape-accordion > .item > .header > .identify,
.ape-accordion > .item > .content > .identify {
    position: absolute;
    left: 0;
    top: 7px;
}

/* homepage video wrapper */
.imax-container {
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;

    z-index: 999;

    width: 100%;
    height: 100%;

    background-size: cover;
    -webkit-background-size: cover;

    -webkit-transform: translate3d(0px, -100%, 0px);
    -moz-transform: translate3d(0px, -100%, 0px);
    -ms-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    transform: translate3d(0px, -100%, 0px);

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.imax-container.active {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.imax-container .icon-close {
    position: absolute;
    right: 20px;
    top: 10px;

    font-size: 20px;
    color: #696969;
}

.imax-container .icon-close:hover,
.imax-container .icon-close:active {
    color: #37bef0;
}

/* tri-nav footer elements */
.ape-pic-list {
    display: flex;
    width: 100%;
}

.ape-pic-list .item {
    position: relative;
    overflow: hidden;

    cursor: pointer;

    flex: 1;
    min-height: 40px;
    height: 100%;

    background: no-repeat center;
    background-size: cover;
}

.ape-pic-list .item img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    height: 100%;
    width: 100%;
    

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.ape-pic-list .item .title {
    z-index: 20;
}

.ape-pic-list .item:hover img {
    width: 110%;
    height: 110%;

    top: -5%;
    left: -5%;
}