/* QR code wrappers*/
.qrcode-container {

}

.qrcode-container .title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.qrcode-container .qrcode {
    font-size: 0;
}

.qrcode-container .qrcode .qrcode-img {
    display: inline-block;
    vertical-align: middle;
}

.qrcode-container .qrcode .qrcode-img img {
    width: 270px;
    height: 270px;
    border: 1px solid #ddd;
}

.qrcode-container .qrcode .qrcode-warning {
    width: 40px;
    height: 270px;
    display: inline-block;
    vertical-align: middle;

    border: 1px solid #ddd;
    border-left: transparent;

    background-position: 0 -369px;
}

.qrcode-container .tip {
    margin-top: 10px;
    display: inline-block;
    text-align: left;
}

.qrcode-container .tip .icon-scan {
    width: 32px;
    height: 32px;
    background-position: 0 -337px;
    display: inline-block;
    vertical-align: middle;
}

.qrcode-container .tip .text {
    vertical-align: middle;
    display: inline-block;
}

.payment-wrapper {
    font-size: 0;
}

.payment-wrapper .qrcode-container {
    width: 50%;
    display: inline-block;
    text-align: center;

    font-size: 14px;
}

.payment-wrapper .wepay-help {
    display: inline-block;
    width: 50%;
    height: 337px;
}

.payment-wrapper .wepay-help .img {
    background-position: 0 0;
    width: 270px;
    height: 337px;
    margin: 0 auto;
}

/* smart-plus price button */
.btn-group.price {
    display: table;
}

.btn-group.price a {
    color: #fff;
}

.btn-group.btn-group-lg {
    border: 1px solid #cacaca;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

    margin-top: 10px;
}

.btn-group.btn-group-lg .btn {
    padding: 12px 20px;
    margin: 3px 0;

    border: none;
}

.btn-group.btn-group-lg .btn:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-group.btn-group-lg .btn {
    border-right: 1px solid #cacaca;
}

.btn-group.btn-group-lg .btn:last-child {
    border-right: none;
}


/*
 * homepage elements
 */
.portal-swiper {

}

.portal-swiper.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    margin: 0 8px;
}

.portal-swiper .swiper-slide .view-content {
    position: relative;
    margin: 6% auto 0 auto;

    width: 70%;
    height: 88%;
}

.portal-swiper .swiper-slide .view-content .title {
    padding-top: 12%;
}

/* homepage slide 01 */
.portal-swiper .swiper-slide.v01 {
    background: #f2f2f2;
}

.portal-swiper .swiper-slide.v01 .gongzi {
    position: absolute;
    top: 0;
    right: -90px;

    width: 29.66%;
    height: 426px;

    background: url("../img/index/v01-gongzi.png") no-repeat center;
    background-size: contain;
}

@-webkit-keyframes fluctuating {
    0% {
        -webkit-transform: translate3d(0px, -6px, 0px);
    }
    50% {
        -webkit-transform: translate3d(0px, 6px, 0px);
    }
    100% {
        -webkit-transform: translate3d(0px, -6px, 0px);
    }
}

.portal-swiper .swiper-slide.v01 .gongzi {
    -webkit-animation: fluctuating 3s;
    -o-animation: fluctuating 3s;
    animation: fluctuating 3s;

    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.portal-swiper .swiper-slide.v01 .xiaobai {
    width: 35.4%;
    height: 88.8%;

    margin-left: 44%;

    background: url("../img/index/v01-xiaobai.png") no-repeat bottom;
    background-size: contain;

    margin-top: -80px;
}

/* homepage slide 02 */
.portal-swiper .swiper-slide.v02 {
    background: url("../img/index/v2.png") no-repeat;
    background-size: cover;
    color: #fff;
}

.portal-swiper .swiper-slide.v02 .btn-group .btn {
    color: #fff;
}

.portal-swiper .swiper-slide.v02 h2 {
    margin-bottom: 0;
}

.portal-swiper .swiper-slide.v02 h1 {
    margin-top: 0;
}

/* homepage slide 03 */
.portal-swiper .swiper-slide.v03 {
    background: #eaeaea;
}

.portal-swiper .swiper-slide.v03 .article-table-cell.right {
    text-align: center;
}

.portal-swiper .swiper-slide.v03 .article-table-cell.left img {
    max-width: 460px;
    margin-top: -20px;
}

.portal-swiper .swiper-slide.v-plus {
    background: url("../img/product/smart-plus/index-banner.png") no-repeat;
    background-size: cover;
    color: #fff;
}

@media screen and (min-width: 1860px) {
    .portal-swiper .swiper-slide.v-plus {
        background: url("../img/product/smart-plus/index-banner@1920.png") no-repeat;
    }
}

.portal-swiper .swiper-slide.v-plus .title {
    position: absolute;
    bottom: 10%;
    right: -2%;
}

.portal-swiper .btn-group.btn-group-lg .btn {
    padding-top: 6px;
    padding-bottom: 6px;
}

.portal-swiper .swiper-slide.v-plus .btn-group .btn {
    color: #fff;
}

/* homepage slide 04 */
.portal-swiper .swiper-slide.v04 {
    background: url("../img/index/yuquan.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.portal-swiper .swiper-slide.v04 .btn-group-lg {
    margin-left: 5px;
}

.portal-swiper .swiper-slide.v04 .view-content .btn-group-wrapper {
    position: absolute;
    right: -60px;
    top: 30px;
}

.portal-swiper .swiper-slide.v04 .view-content .btn-group-wrapper img {
    display: block;
}

/* homepage slide 05 */
.portal-swiper .swiper-slide.v05 .article-table-cell.left {
    background: url("../img/index/v05-left.png") no-repeat center;

    -webkit-background-size: contain;
    background-size: contain;
}

.portal-swiper .swiper-slide.v05 .article-table-cell.right {
    background: url("../img/index/v05-right.png") no-repeat center;
    background-size: initial;
}

@media screen and (max-width: 1000px) {
    .portal-swiper .swiper-slide.v05 .article-table-cell.right {
        background-size: contain;
    }
}

.portal-swiper .swiper-slide.v05 .article-table-cell.right .btn-group-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;

    text-align: center;
}

/* 'mini slides' */
.portal-swiper .swiper-slide.gwais-01 {
    background: url("../img/index/gwais-banner1.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.portal-swiper .swiper-slide.gwais-02 {
    background: url("../img/index/gwais-banner2.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.portal-swiper .about-ai {
    background: url("../img/index/about-ai/1.jpg") no-repeat center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.portal-swiper .swiper-slide.v-lovers {
    -webkit-background-size: cover;
    background-size: cover;
}

.portal-swiper .swiper-slide.v-lovers .article-table-cell.left {
    background: url("../img/index/lovers-left.png") no-repeat center;

    -webkit-background-size: cover;
    background-size: cover;
}

.portal-swiper .swiper-slide.v-lovers .article-table-cell.right img {
    width: 90%;
}

/* maker faire slide */
.portal-swiper .swiper-slide.zaowujie {
    background: url("../img/index/holo-era.png") no-repeat center;
    background-size: 100% 100%;
}

.portal-swiper .swiper-slide.hit-holoera {
    background: url("../img/index/banner-holoera-hit.jpg") no-repeat center;
    background-size: 100% 100%;
}

.portal-swiper .swiper-slide.world-robot-meeting {
    background: url("../img/index/world-robot-meeting.jpg") no-repeat center;
    background-size: 100% 100%;
}

/* tri-nav footer */
.ape-pic-list.nav-pic-list {
    height: 47%;
}

.ape-pic-list.nav-pic-list .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    color: #fff;
}

.ape-pic-list.nav-pic-list .item .title h3 {
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: center;
    text-shadow:  1px 1px black;
}

.ape-pic-list.nav-pic-list .item .title h3 + h3 {
    font-size: 16px;
    text-align: center;
}


/*
 * support page elements
 */
.support-view {
    background: transparent;
    margin-bottom: 100px; /* ����ά���ڳ��ط�*/
}

.support-view .banner {
    color: #fff;
}

.support-view .banner .content .description {
    margin-top: 40px;
}

.support-view .panel {
    width: 70%;
}

.support-view .panel-wrapper.self-service-panel-wrapper {
    background: #e6e6e6;
}

.support-view .panel-wrapper.self-service-panel-wrapper .icon img {
    width: 70%;
}

.support-view .panel-wrapper.self-service-panel-wrapper .icon .title {
    font-size: 16px;
    height: initial;
}

.support-view .panel-wrapper .panel {

}

.support-view .panel-wrapper .panel .panel-header > .title {
    margin-left: -18px;
}

.support-view .panel-wrapper .panel .icon-group {
    width: 100%;
}

.support-view .panel-wrapper .panel .qrcode-icon-group .icon-mail:before {
    color: #37bef0;
}

.support-view .panel-wrapper .panel .qrcode-icon-group .icon-wechat:before {
    color: #98C01B;
}

.support-view .panel-wrapper .panel .qrcode-icon-group .icon-weibo:before {
    color: #EA706E;
}

.support-view .panel-wrapper .panel .panel-content {
    padding: 10px 0;
}

.support-view .panel-wrapper.self-service-panel-wrapper .panel .panel-content {
    padding: 40px 0;
}

.support-view .qrcode-icon-group .icon {
    position: relative;
}

.support-view .qrcode-icon-group .icon .qrcode {
    position: absolute;
    top: 100%;
    right: 23%;

    width: 100px;
    height: 100px;

    opacity: 0;
    visibility: hidden;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.support-view .qrcode-icon-group .icon:last-child .qrcode {
    right: 6%;
}

.support-view .qrcode-icon-group .icon:hover .qrcode {
    opacity: 1;
    visibility: visible;
}

.support-view .qrcode-icon-group .icon:hover .qrcode img {
    width: 100px;
}

/* faqs elements */
.hot-qa-container {
    display: flex;
}

.hot-qa-container .qa-col {
    width: 50%;
    flex: 1;
    border-right: 1px solid #dbdbdb;
    text-align: center;
}

.hot-qa-container .qa-col:first-child {
    text-align: left;
}

.hot-qa-container .qa-col:last-child {
    border-right: none;
    text-align: right;
}

.hot-qa-container .qa-col:last-child ul {
    //width: 100px;
    text-align: right;
    display: inline-block;
}

.hot-qa-container .qa-col ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    list-style-type: none;
}

.hot-qa-container .qa-col ul li {
    padding: 2px 0;
    font-size: 12px;
}

.hot-qa-container .qa-col ul li.title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #505050;
}

.hot-qa-container .qa-col ul li a,
.hot-qa-container .qa-col ul li a:visited,
.hot-qa-container .qa-col ul li a:link {
    color: #808080;
}

/* support_technical page elements */
.tech-panel {

}

.panel.tech-panel .panel-header > .title {
    width: 28%;
    margin-left: 10% !important;
}

.tech-panel .panel-content .layout-west {
    width: 18%;
    text-align: center;
    margin-left: -14%;
}

.tech-panel .panel-content .layout-west ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding: 0;
    list-style-type: none;
}

.tech-panel .panel-content .layout-west ul li {
    font-size: 14px;
    padding: 10px 0;
}

.tech-panel .panel-content .layout-west ul li a,
.tech-panel .panel-content .layout-west ul li a:visited,
.tech-panel .panel-content .layout-west ul li a:link {
    color: #646464;
}

.tech-panel .panel-content .layout-west ul li a:hover,
.tech-panel .panel-content .layout-west ul li a:active,
.tech-panel .panel-content .layout-west ul li a.active {
    color: #37bef0;
}

.tech-panel .panel-content .layout-center {
    width: 86%;
    font-size: 12px;
    margin-left: 10%;
}

.tech-panel .panel-content .layout-center .view-container {
    width: 100%;
    min-height: 30px;

    background: #fff;
    /*border: 1px solid #ddd;*/

    padding: 0 10px;

    margin-bottom: 20px;
}

#powerOn {
    vertical-align: top;
    margin-left: 80%;
    margin-top: -30px;
}

.ape-accordion.has-accordion-icon > .item.active .content .identify {
    background: #37bef0;
}

.item.active .content .identify {
    top: 19px;
}

.ape-accordion.has-accordion-icon > .item.active .content {
    line-height: 1.5;
}


/*
 * about-us page elements
 */
.ours-display-wrapper {
    width: 71.1%;
    margin: 0 auto;
    padding-top: 50px;
}

.ours-display-wrapper > .title {
    color: #37bef0;
    font-weight: bold;
    font-size: 24px;
}

.view.ours-view .banner {
    background-image: url('../img/about-us/banner.png');
}

.view.ours-view .banner .title-gowild {
    width: 440px;
}

.view.ours-view .banner {
    color: #fff;
}

.view.ours-view .banner .content .description {
    margin-top: 30px;
}

.gowild-definition {
    width: 100%;
    height: 100%;

    background: url('../img/about-us/gowild.png') no-repeat center #e5e5e5;
}

.list-team-view {
    background: #e0e0e0;
}

.list-team .item {
    position: relative;
    min-height: 291px;
    padding: 0 0 0 300px;

    border-bottom: 1px solid #A2A2A2;

    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    align-items: center;
    -webkit-align-items: center;
}

.list-team .item img {
    position: absolute;
    vertical-align: middle;
    left: 0;
    top: 0;

    margin-top: 40px;
    width: 200px;
}

.list-team .item > .content {
    vertical-align: middle;
}

.list-team .item > .content .title + .description {
    margin-top: 20px;
    text-align: justify;
}

.list-team .item > .content .description + .tips {
    margin-top: 10px;
    text-align: justify;
}

.list-team .item > .content .title .member-name {
    font-size: 16px;
    font-weight: bold;
    color: #37bef0;
}

.list-team .item > .content .title .member-post {
    font-size: 12px;
}

/* events + the company description */
.ceo-speech-view {
    background: #e0e0e0;
    font-size: 16px;
    height: auto;
    padding: 10px 0 0px 0;
}

.ceo-speech-view .title {
    margin-bottom: 40px;
}

.ceo-speech-view p {
    margin-bottom: 2px;
}

/* smartphones download page element */
.download-view {
    position: relative;

    display: inline-block;
    width: 49%;
    text-align: center;
    padding-top: 10%;
}

.download-view .mobile-avatar {
    display: inline-block;
    vertical-align: middle;
}

.download-view:first-child .download-wrapper {
    border-right: 1px solid #ccc;
}

.download-view .download-wrapper .download-container {
    display: inline-block;
    padding-left: 40px;
    vertical-align: middle;
    text-align: left;
}

.download-view .download-container .title h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.download-view .download-container .title {
    margin-bottom: 40px;
}

.download-view .download-container .qr-code-container {
    display: inline-block;
}

.download-view .download-container .qr-code-container .qr-code {
    display: none;
}

.download-view .download-container .qr-code-container .qr-code img {
    width: 100px;
}

.download-view .download-container .qr-code-container .qr-code.active {
    display: block;
}

.download-view .download-container .btn-wrapper {
    display: inline-block;
}

.download-view .download-container .btn-wrapper .btn-group {
    width: 120px;
    margin-left: 20px;
}

.download-view .download-container .btn-wrapper .btn-group .btn,
.download-view .download-container .btn-wrapper .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 3px;
}

.download-view .download-container .btn-wrapper .btn-group .btn {
    color: #A2A8AA;
}

.download-view .download-container .btn-wrapper .btn-group .btn.icon:before {
    position: absolute;
    left: 10px;
}

.download-view .download-container .btn-wrapper .btn-group .btn.active {
    background-color: #37bef0;
    border: none;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* timeline element */
.gowild-events {
    padding-top: 20px;
    margin-top: 20px;
}

.gowild-events .event-details-wrapper {
    width: 90%;
    margin: 0 auto;
}

.gowild-events .event-details-wrapper > .row > .col {
    vertical-align: top;
}

/* video wrapper */
.imax-container {
    background-image: url('../img/imax-banner.png');
    background-color: #e6e6e6;
    z-index: 1000001 !important;
}

.imax-container .video-wrapper {
    padding: 0 10%;
    background: #000;
    width: 100%;
    height: 100%;
}

.imax-container .video-wrapper video {
    width: 100%;
}

.video-swiper-wrapper {
    height: 52%;
}

.video-swiper-wrapper .swiper-container .swiper-slide img {
    width: 100%;
    height: 100%;
}

.video-swiper-wrapper .icon-play {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    font-size: 40px;

    color: #37bef0;
}

.video-swiper-wrapper .icon-play:hover {
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}


/*
 * smart-plus page elements
 */
.plus-view {
    width: 100%;
    min-height: 100%;
}

.plus-view .banner-wrapper .content {
    margin-top: -17%;
    margin-left: 10%;
}

.plus-view img {
    width: 100%;
}

.view.plus-view .title {
    position: absolute;
    left: 16%;
    top: 50%;
}

.view.plus-view .title .btn-group {
    border-color: #B5B5B5;
}


/*
 * media page css, by zexuan on 20/12/2016
 */
.social-media {
	background: url('../img/media/media-background.jpg');
	background-size: cover;
	
	width: 100%;
}

.social-media-wrapper {
	padding: 0;
	margin: auto;
	
	width: 60%;
	height: 1000px;
}

.social-media-wrapper .fb-page {
	display: inline-block;
	float: left;
	
	z-index: 900;
	margin: 0 0 0 0;
	margin-top: 10%;
	
	background: white;
	background-size: cover;
	border-radius: 5px; 
	width: 500px; 
	height: 595px;
	
	overflow: hidden; 
}

.social-media-wrapper .instag-page {
	display: inline-block;
	z-index: 900;
	margin: 10px 0 0 0;
	padding: 5px;
	
	background: white;
	background-size: cover;
	border-radius: 5px; 
	width: 500px; 
	height: 195px;
	
	overflow: hidden;
}

.social-media-wrapper .instag-page .lightwidget-widget {
	width: 100%;
	border: 0;
	
}

.social-media-wrapper .twitter-page {
	display: inline-block;
	float: right;
	
	z-index: 900;
	margin: 0 10px 0px 0;
	margin-top: 10%;
	
	background: white;
	background-size: cover; 
	border-radius: 5px; 
	width: 30%; 
	height: 800px;
	
	overflow: hidden;
}

.social-media .accredit {
	position: static;
	bottom: 0;
	right: 0;
}


/*
 * media queries
 */
@media screen and (min-width: 1600px) {
    .letter-wrapper {
        background-image: url('../img/index/letter-server-hack@1920.jpg');
    }
}
