<footer class="footer">
  <div class="shop row">
    <a class="col" href="http://shop.m.jd.com/?shopId=1000017661">
      <img ng-src="./components/footer/img/jd.png">
    </a>
    <a class="col" href="https://gowildcn.tmall.com/">
      <img ng-src="./components/footer/img/tmall.png">
    </a>
  </div>
  <div class="info-wrapper">
    <p>致电<a href="tel:400-8239-139">400-8239-139</a>获得更多服务支持</p>
    <p>公司地址:深圳市南山区科苑北路东方科技大厦1307-09</p>
    <div class="copy-right">
      Copyright&copy;2016,GOWILD.CN
    </div>
  </div>
</footer>
