<footer class="footer">
  <div class="shop row">
    <a class="col" href="http://shop.m.jd.com/?shopId=1000017661">
      <img ng-src="./components/footer/img/jd.png">
    </a>
    <a class="col" href="https://gowildcn.tmall.com/">
      <img ng-src="./components/footer/img/tmall.png">
    </a>
  </div>
  <div class="info-wrapper">
    <p>Office:<a href="tel:400-8239-139">+65 66351515 </a>for any queries and support.</p>
    <p>Address: 745 Lorong 5 Toa Payoh 02-01B The Actuary Singapore 319455</p>
    <div class="copy-right">
      Copyright&copy;2016,GOWILD.SG
    </div>
  </div>
</footer>
