<nav-bar></nav-bar>
<ion-content class="has-header">
  <div class="ser-container">
    <div class="ser-banner">
      <div class="ser-banner-title">
                <h6 style="color: white;">If you require support, you can send an email to 
                	<a href="mailto:help@gowild.sg" style="color: #4286f4;">help@gowild.sg</a> or contact the support team 
                	located in Shenzhen from their <a href="http://www.gowild.cn/home/support/index.html">website</a>.
                	Alternatively, you can contact us at the number provided below or look through the FAQs 
                	to answer any queries you may have.</h6>
      </div>
      <img class="main-header-wrap" src="img/support/ser-bn.png"/>
    </div>
    <div class="ser-section">
      <p class="section-title question-section-title">FAQ</p>
      <div class="section-box">
        <ul class="question-list1">
          <li class="question-item">
            <span class="icon icon-arrow-right slide-button"></span>
            <a class="question-list-title hover" ui-sref="support.xb">GongZi.XiaoBai</a>
          </li>

          <li class="question-item">
            <span class="icon icon-arrow-right slide-button"></span>
            <a class="question-list-title hover" href="javascript:void(0);">GongZi.XiaoBai Smart Plus</a>
          </li>

          <li class="question-item">
            <span class="icon icon-arrow-right slide-button"></span>
            <a class="question-list-title hover" ui-sref="support.xxb">Mini GongZi.XiaoBai</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="ser-section">
      <p class="section-title question-section-title">More Support</p>
      <div class="section-box">
        <ul class="question-list1">
          <li class="question-item">
            <span class="icon icon-arrow-right slide-button"></span>
            <a class="question-list-title hover" href="tel:4008239139">Office&nbsp;+65 66351515</a>
            <ul class="question-list-detail" style="display: none;">
              <li class="question-link">
                <a target="" href="">What are GongZi.XiaoBai's features?</a>
              </li>
            </ul>
          </li>

          <li class="question-item">
            <span class="icon icon-arrow-right slide-button"></span>
            <a class="question-list-title hover" href="http://wpa.b.qq.com/cgi/wpa.php?ln=2&uin=4008239139">Line Support</a>
            <ul class="question-list-detail" style="display: none;">
              <li class="question-link">
                <a target="" href="">What are GongZi.XiaoBai's features?</a>
              </li>
            </ul>
          </li>
          <li class="question-item">
            <span class="icon icon-arrow-right slide-button"></span>
            <a class="question-list-title hover" href="javascript:void(0);" ng-click="toggle()">Chat Support</a>

          </li>
          <li class="question-item">
            <span class="icon icon-arrow-right slide-button"></span>
            <a class="question-list-title hover" ui-sref="support.download">Downloads</a>
            <ul class="question-list-detail" style="display: none;">
              <li class="question-link">
                <a target="" href="">What are GongZi.XiaoBai Smart Plus' features?</a>
              </li>

            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <gowild-footer/>
</ion-content>
<div class="wechat_coupons" ng-show="myVar">
  <div class="close icon icon-close-circle" ng-click="toggle()"></div>
  <div class="wechat">
    <h4 class="title">WeChat ：Gowild806</h4>
    <img ng-src="./img/support/wechat.jpg">
  </div>
</div>

<div class="wechat_mask" ng-show="myMask"></div>
