<nav-bar></nav-bar>
<div class="button-top">
  <p>GongZi.XiaoBai</p>
  <button class="button-1" ui-sref="purchase">Buy Now!</button>
</div>
<ion-content class="has-header">
  <div class="empty-box"></div>
  <div class="container-xb">
    <div class="container-xb-sec container-xb1">
      <img src="img/product/xb/xbbj1.png"/>
      <div class="txt container-xb1-title">
        <h1>He can chat and tease you!</h1>
        <p>Aimed towards the youngsters.</p>
      </div>
      <div class="gongzi"><img src="img/product/xb/gz.png"/></div>
      <div class="xiaobai"><img src="img/product/xb/xb1.png"/></div>
      <div class="txt container-xb1-title2">
        <h1>Smarter than you think!</h1>
        <p>He understands the context of what you say and can give an appopriate response.</p>
      </div>
      <div class="tips">
        <div class="tips-con">
          <div class="tips-list">
            <span>160</span>
            <div><p>million</p>
              <p>Knowledge <br> Paths</p></div>

          </div>
          <div class="tips-list">
            <span>10</span>
            <div><p>milion</p>
              <p>Parallel Language <br> Phrases</p></div>
          </div>
          <div class="tips-list">
            <span>90%</span>
            <div><p>Chinese</p>
              <p>Speech Recognition <br> Accuracy</p></div>
          </div>
        </div>
      </div>
      <div class="xiaobai2"><img src="img/product/xb/xb2.png"/></div>
    </div>
    <div class="container-xb-sec container-xb2">
      <img src="img/product/xb/xbbj2.png"/>
      <div class="txt container-xb2-title">
        <h1>He only has eyes for you...</h1>
        <p>Regardless of who is around him, he always prioritises you first.</p>
        <div class="icon-group">
          <div class="icon">
            <img src="img/product/xb/sy.png"/>
            <div class="title"><span>3</span>m Detection</div>
          </div>
          <div class="icon icon1">
            <div class="title">
              <img src="img/product/xb/180.png"/>
              180&deg;Rotation
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="position: relative">
      <div class="container-xb-sec container-xb3">
        <div class="txt container-xb3-title">
          <h1>AI on the Cloud</h1>
          <p>He has a powerful mind and can remember what you teach it.<br>
          	The longer you spend time with it, the better he understands you.</p>
          <div class="tips">
            <div>
              <p><span>9</span>layers</p>
              <p>of language <br> processing</p>
            </div>
            <div>
              <p><span>12</span>types</p>
              <p>of emotional <br> models</p>
            </div>
          </div>
        </div>

      </div>
      <div class="xb3">
        <img src="img/product/xb/xb3.png"/>
      </div>
      <div class="container-xb-sec container-xb4">
        <div class="container-xb4-title">
          <h1>Ultra-precise Data Processing</h1>
          <p>Understands you can cares for you better</p>
        </div>
        <div class="shux">
          <img src="img/product/xb/sux.png"/>
        </div>
        <div class="tips">
          <div class="tips-shuju">
            <div>
              <p><span>100+</span>Dimensional</p>
              <p>Facial Recognition <br> Processing</p>
            </div>
            <div>
              <p><span>3</span>kinds</p>
              <p>of human <br> interaction models</p>
            </div>
            <div>
              <p><span>200+</span>types</p>
              <p>of relationship <br> modeling</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-xb-sec container-xb5">
      <img src="img/product/xb/xbbj4.png"/>
      <div class="container-xb5-title">
        <h1>Understands the environment</h1>
        <p>He serves as a smart-home enabler</p>
        <p>and can control any appliance through voice commands</p>
        <p>such as air conditioners.</p>
      </div>
    </div>
    <div class="container-xb-sec container-xb6">
      <img src="img/product/xb/xbbj5.png"/>
      <div class="txt container-xb6-title">
        <h1>Surveillance Monitoring</h1>
        <p>He can look after your home for you, making you feel more secure~</p>
      </div>
    </div>
    <div class="container-xb-sec container-xb7">
      <img src="img/product/xb/xbbj6.png"/>
      <div class="txt container-xb7-title">
        <h1>An Indispensable Assistant</h1>
        <p>News, reminders, alarms...</p>
        <div class="icon-group">
          <div class="icon icon-news">

          </div>
          <div class="icon icon-reminder">

          </div>
          <div class="icon icon-alarm">

          </div>
        </div>
      </div>
    </div>
    <div class="container-xb-sec container-xb8">
      <img src="img/product/xb/xbbj7.png"/>
      <div class=" container-xb8-title">
        <h1>Hi-Fi Stereo Speakers</h1>
        <p>He can play your favourite music</p>
        <p>or read news, stories or any other information to you <br>
        	through its clear sounding speakers.</p>
      </div>
    </div>
    <div class="container-xb-sec container-xb9">
      <img src="img/product/xb/xbbj8.png"/>
      <div class="txt container-xb9-title">
        <h1>Equipped with a Camera</h1>
        <p>He has a front-facing, voice-activated camera</p>
        <p>to help you take photos with ease.</p>
      </div>
    </div>
    <div class="container-xb-sec container-xb10">
      <img src="img/product/xb/xbbj9.png"/>
      <div class="txt container-xb10-title">
        <h1>Couple Features</h1>
        <p>Interact with who you truly are</p>
        <p>A sensitive, helper in love that can schedule dates、record memories <br>
        	and even act as a mediator during arguments.</p>
      </div>
    </div>
  </div>
  <gowild-footer/>
</ion-content>
