<nav-bar></nav-bar>
<div class="button-top">
  <p>Mini GongZi.XiaoBai</p>
  <button class="button-1" ui-sref="purchase">Buy Now!</button>
</div>
<ion-content class="has-header">
  <div class="empty-box"></div>
  <div class="container-main">
    <div class="container-sec container-banner1">
      <img src="img/product/xxb/xxb-bj1.png"/>
      <div class="container-sec-title">
        <div><img src="img/product/xxb/bt.png"/></div>

      </div>
      <div class="container-banner1-goods">
        <ul>
          <li>
            <img src="img/index/xiaoxiaobai1.png"/>
            <p>Orange</p>
          </li>
          <li>
            <img src="img/index/xiaoxiaobai2.png"/>
            <p>Black</p>
          </li>
          <li>
            <img src="img/index/xiaoxiaobai3.png"/>
            <p>White</p>
          </li>
          <li>
            <img src="img/index/xiaoxiaobai4.png"/>
            <p>Green</p>
          </li>
          <li>
            <img src="img/index/xiaoxiaobai5.png"/>
            <p>Blue</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-sec container-banner2">
      <img src="img/product/xxb/xxb-bj2.png"/>
      <div class="txt container-banner2-title">
        <h1>Mini GongZi.XiaoBai</h1>
        <h2>An indispensable companion for youngsters!</h2>
        <p>Fashionable、intelligent and knowledgable.</p>
        <p>The perfect tool to bring youngsters joy!</p>
      </div>
    </div>
    <div class="container-sec container-banner3">
      <img src="img/product/xxb/xxb-bj3.png"/>
      <div class="txt container-banner3-title">
        <h1>Unique set of features</h1>
        <p>He can chat and occasionally tease you, read news,play games <br>
		find answers to problems and do much more!</p>
      </div>
    </div>
    <div class="container-sec container-banner4">
      <img src="img/product/xxb/xxb-bj4.png"/>
      <div class="txt container-banner4-title">
        <h1>With it, life becomes more fulfilling</h1>
        <div class="icon-group">
          <div class="icon icon-naozhongdingzhi">
            <div class="title">Alarm</div>
          </div>
          <div class="icon icon-richeng">
            <div class="title">
              Reminders
            </div>
          </div>
          <div class="icon icon-tianqi">
            <div class="title">
              Weather
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-sec container-banner5">
      <img src="img/product/xxb/xxb-bj5.png"/>
      <div class="txt container-banner5-title">
        <h1>With it, life becomes more exciting</h1>
        <div class="icon-group">
          <div class="icon icon-yingyue">
            <div class="title">Music</div>
          </div>
          <div class="icon icon-news1">
            <div class="title">
             News
            </div>
          </div>
          <div class="icon icon-gushi">
            <div class="title">
              Stories
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-sec container-banner6">
      <img src="img/product/xxb/xxb-bj6.png"/>
      <div class="txt container-banner6-title">
        <h1>An indispensable companion for youngsters!</h1>
        <div class="icon-group">
          <div class="icon icon-xingzuo">
            <div class="title">Horoscope</div>
          </div>
          <div class="icon icon-chongwu">
            <div class="title">
              Pet
            </div>
          </div>
          <div class="icon icon-chengyu">
            <div class="title">
             Idioms
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-sec container-banner7">
      <img src="img/product/xxb/xxb-bj7.png"/>
      <div class="txt container-banner7-title">
        <h1>An expert in love matters</h1>
        <h1>for you and me~</h1>
        <div class="icon-group">
          <div class="icon icon-qinglv">
            <div class="title">Couple Interactions</div>
          </div>
          <div class="icon icon-shihoujiaoy">
            <div class="title">
              Sociable
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-sec container-banner8">
      <img src="img/product/xxb/xxb-bj8.png"/>
      <div class="txt container-banner8-title">
        <h1>Listen to the future</h1>
        <p>With bluetooth connectivity and high-quality speakers!</p>
        <div class="icon-group">
          <div class="icon-item">
            <img class="icon-bluetooth" src="img/product/xxb/lay.png"></img>
            <div class="title">Bluetooth 3.0</div>
          </div>
          <div class="icon-item">
            <i class="icon icon-volume"></i>
            <div class="title">Bluetooth Connectivity</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-sec container-banner9">
      <img src="img/product/xxb/xxb-bj9.png"/>
      <div class="txt container-banner9-title">
        <h1>Bring it to anywhere with you!</h1>
        <p>Compact and easy to carry</p>
        <div class="icon-group">
          <div class="icon icon-weight">
            <div class="title">330g</div>
          </div>
          <div class="icon icon-screen">
            <div class="title">
              1.77 inch display
            </div>
          </div>
          <div class="icon icon-memory-size">
            <div class="title">
              512M of RAM
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <gowild-footer/>
</ion-content>

