<nav-bar></nav-bar>
<ion-content class="has-header">
  <div class="plus-main">
    <div class="plus-container plus-header">
      <img src="img/smart-plus/plus-01.png"/>
    </div>
    <div class="plus-container">
      <img src="img/smart-plus/plus-02.png"/>
    </div>
    <div class="plus-container">
      <img src="img/smart-plus/plus-03.png"/>
    </div>
    <div class="plus-container">
      <img src="img/smart-plus/plus-04.png"/>
    </div>
    <div class="plus-container">
      <img src="img/smart-plus/plus-05.png"/>
    </div>
  </div>

  <gowild-footer/>
</ion-content>
