<nav-bar></nav-bar>
<ion-content class="has-header">
  <div class="down-main">
    <div class="down-container down-sold">
      <div class="img-cont">
        <img src="img/support/xb.png"/>
      </div>
      <div class="down-qu">
        <h1>公子&bull;小白</h1>
        <p>APP下载</p>
        <a href="http://m.gowild.cn/download/">
          <button class="down-but">点击下载</button>
        </a>
      </div>
    </div>
    <div class="down-container">
      <div class="img-cont">
        <img src="img/support/xbqc.png"/>
      </div>
      <div class="down-qu">
        <h1>公子小白|青春版</h1>
        <p>APP下载</p>
        <a href="http://m.gowild.cn/xxb-download/">
          <button class="down-but">点击下载</button>
        </a>
      </div>
    </div>
  </div>

  <gowild-footer/>
</ion-content>
