<nav-bar></nav-bar>
<ion-content class="has-header">
  <div class="container-about">
    <div class="about slider-wrapper1">
      <img src="img/about/ab-h.png"/>
      <div class="about-title-cont">
        <div class="about-title1">
          <img src="img/about/ab-zi.png"/>
        </div>
      </div>
      <div class="about-title2">
        <p>
          Gowild comprises a group of like-minded individuals that
                strives to excel in the field of artificial intelligence and
                actively embraces new and upcoming technology.
                We work closely with our parent company that is headquatered in Shenzhen
                to deliver our products. One of them being the robot
                with artifical intelligence.
        </p>
      </div>
    </div>

    <div class="about-main">
      <img src="img/about/gowild.png"/>
    </div>


    <div class="about-narrate slider-wrapper2">
      <img src="img/about/ab-f.png"/>
      <div class="narrate-title-cont">
        <div class="narrate-title1">
          <img src="img/about/ab-qc.png"/>
        </div>
      </div>
      <div class="narrate-title2">
        <h1>During the best moments in life......</h1>
        <p>Seize the moment and achieve your ambitions，</p>
        <p>it is only a matter of time, not capability</p>
        <p>as eventually we all will fulfil our goals.</p>
      </div>
    </div>
  </div>
  <gowild-footer/>
</ion-content>
