<nav-bar></nav-bar>
<div class="button-top">
  <p ng-bind="currentMovedTitle"></p>
  <button class="button-1" ui-sref="purchase">购买</button>
</div>
<scroll-view class="has-header" on-change-title="handleChangeTitle($title)">
  <div class="empty-box"></div>
  <div class="container-star">
    <div class="star slider-wrapper1" data-title="公子小白青春版IP定制款">
      <img src="img/product/star/star-bj1.png"/>
      <div class="star-title-cont">
        <div class="star-title1">
          <img src="img/product/star/star-title.png"/>
        </div>

      </div>
      <div class="star-title2" data-title="公子小白青春版IP定制款">
        <h1>Pet in your Pocket</h1>
        <p>Intelligent and sociable.</p>
      </div>
    </div>
    <div class="star slider-wrapper2" data-title="公子小白青春版IP定制款">
      <img src="img/product/star/star-bj2.png"/>
      <div class="star-title">
        <h1>Begin a revolution!</h1>
      </div>
    </div>
    <div class="star slider-wrapper3" data-title="公子小白青春版|王大陆定制款">
      <img src="img/product/star/star-bj3.png"/>
      <div class="star-title">
        <h1>Mini GongZi.XiaoBai<span>X</span>Customized Darren Wang version</h1>
        <p>GongZi.XiaoBai's artificial intelligence is on the cloud, integrated into the robot.</p>
      </div>
    </div>
    <div class="star slider-wrapper4" data-title="公子小白青春版|王大陆定制款">
      <img src="img/product/star/star-bj4.png"/>
      <div class="star-column ">
        <ul>
          <li class="naozhong">
            <i class="icon icon-naozhongdingzhi"></i>
            <span>
              <h1>Customized Alarm</h1>
              <h2>Have Darren Wang wake you up in the morning and remind you of important stuff!</h2>
            </span>
          </li>
          <li>
            <i class="icon icon-xiaoxituidong"></i>
            <span>
              <h1>Celebrity Updates</h1>
              <h2>Keep up to date with the latest news about Darren!</h2>
            </span>
          </li>
          <li>
            <i class="icon icon-jieriwenhou"></i>
            <span>
              <h1>Special Occasions, Special Greetings</h1>
              <h2>Have Darren Wang wish you on your birthdays and other important events!</h2>
            </span>
          </li>
          <li>
            <i class="icon icon-xianliao"></i>
            <span>
              <h1>Direct Conversations</h1>
              <h2>Be invited by Darren for a quick chat!</h2>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="star slider-wrapper5" data-title="公子小白青春版|好妹妹款">
      <img src="img/product/star/star-bj5.png"/>
      <div class="star-title">
        <h1>Mini GongZi.XiaoBai<span>X</span>Good Meimei version</h1>
      </div>
      <div class=" star-haomeimei">
        <ul>
          <li class="naozhong">
            <i class="icon icon-naozhongdingzhi"></i>
            <span>
              <h1>Customized Alarm</h1>
              <h2>Have Meimei wake you up in the morning and remind you of important stuff!</h2>
            </span>
          </li>
          <li>
            <i class="icon icon-xiaoxituidong"></i>
            <span>
              <h1>Celebrity Updates</h1>
              <h2>Keep up to date with the latest news about Meimei!</h2>
            </span>
          </li>
          <li>
            <i class="icon icon-jieriwenhou"></i>
            <span>
              <h1>Special Occasions, Special Greetings</h1>
              <h2>Have Meimei wish you on your birthdays and other important events!</h2>
            </span>
          </li>
          <li>
            <i class="icon icon-xianliao"></i>
            <span>
              <h1>Direct Conversations</h1>
              <h2>Be invited by Meimei for a quick chat!</h2>
            </span>
          </li>
        </ul>
      </div>
      <div class="star-haomeimei-title">
        <img src="img/product/star/star-haomeimei.png"/>
      </div>
    </div>
    <div class="star slider-wrapper6" data-title="公子小白青春版|超能太阳鸭">
      <img src="img/product/star/star-bj6.png"/>
      <div class=" star-title-one">
        <h1>Mini GongZi.XiaoBai<span>X</span>Sunduck version</h1>
        <p>An intelligent lifestyle butler to serve you!</p>
      </div>
    </div>
    <div class="star slider-wrapper7" data-title="智青春">
      <div class="zhiqinc"></div>
      <img src="img/product/star/zqc.png"/>
      <div class=" star-zhiqinchun">
        <div class="star-zhiqinc-title">
          <h1>Never Gone</h1>
        </div>
        <ul>
          <li>
            <i class="icon icon-book"></i>
            <span>
              <h1>Lines from the Movie</h1>
              <h2>Have him reply you in your favourite lines from the movie!</h2>
            </span>
          </li>
          <li>
            <i class="icon icon-youth"></i>
            <span>
              <h1>Youthful</h1>
              <h2>He can relate to everything about you!</h2>
            </span>
          </li>
          <li>
            <i class="icon icon-manual"></i>
            <span>
              <h1>Guide in Love</h1>
              <h2>He can give love advice and even record special events of yours!</h2>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <gowild-footer></gowild-footer>
</scroll-view>
